:root {
    --nav-paragragh-color: hsl(0, 0%, 100%);
    --Dark-blue-photography-text: hsl(198, 62%, 26%);
    --Dark-moderate-cyan-footer: hsl(168, 34%, 41%);
    --Very-dark-desaturated-blue: hsl(212, 27%, 19%) --Very-dark-grayish-blue:hsl(213, 9%, 39%);
    --Dark-grayish-blue: hsl(232, 10%, 55%);
    --Grayish-blue: hsl(210, 4%, 67%);
    --Soft-red: hsl(7, 99%, 70%);
    --Yellow: hsl(51, 100%, 49%);
    --Dark-desaturated-cyan-graphic-design-text: hsl(167, 40%, 24%);
}

body {
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    justify-content: baseline;
    padding-top: 1rem;


}

.item {

    background-image: url(./images/desktop/image-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 95vh;

}

ul {
    list-style-type: none;
    display: flex;
    gap: 3rem;
    padding-right: 2rem;

}

a {
    color: var(--nav-paragragh-color);
    text-decoration: none;
    font-weight: 700;
    font-size: 1.2rem;
}


.item-1 {
    padding-left: 2rem;
}

.item-2 {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    color: var(--nav-paragragh-color);
    font-weight: 700;
    padding-top: 5rem;
    letter-spacing: 1rem;

}


.item-4 {
    display: flex;

}

.box {
    flex-grow: 1;
}

.bio {
    padding-left: 8rem;
    padding-right: 5rem;
    padding-top: 1rem;
    line-height: 0.8rem;
    font-size: 1.1rem;
}

h1 {
    padding-left: 8rem;
    padding-top: 1rem;
    font-size: 3rem;

}

h2 {
    padding-left: 8rem;
    font-size: 1rem;
}

h3 {
    padding-right: 10rem;
    padding-left: 8rem;
    padding-top: 1rem;
    font-size: 3rem;
}

.box {
    flex-grow: 1;
}

.bio-1 {
    padding-right: 10rem;
    padding-left: 8rem;
    font-size: 1.1rem;
    line-height: 0.8rem;

}


h4 {
    padding-right: 10rem;
    padding-left: 8rem;
}

.card {
    background-image: url(./images/desktop/image-graphic-design.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    min-width: 50vw;
    margin-top: -0.3rem;
}

.card-1 {
    background-image: url(./images/desktop/image-photography.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    min-width: 48.9vw;
    margin-top: -0.3rem;
}

.ben-text {
    text-align: center;
    padding-top: 22rem;
    font-size: 1.2rem;
    font-weight: 700;
}

.ben-text-1 {
    text-align: center;
    font-weight: 500;
    line-height: 0.8rem;
    font-size: 1.1rem;
}

.ben-text-2 {
    text-align: center;
    padding-top: 21rem;
    font-size: 1.2rem;
    font-weight: 700;

}

.ben-text-3 {
    text-align: center;
    font-weight: 500;
    line-height: 0.8rem;
    font-size: 1.1rem;
    font-weight: 500;

}

.test-heading {
    display: flex;
    justify-content: center;
    padding-top: 5rem;
    font-size: 1.6rem;
    letter-spacing: 0.5rem;
}

.test-list {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    gap: 5rem;
}

.test-emily {
    text-align: center;
    font-weight: 500;
    line-height: 0.8rem;
    font-size: 1.1rem;
}

.test-emily-1{

    text-align: center;
    font-weight: 500;
    line-height: 0.8rem;
    font-size: 1.1rem;
    margin-top: rem;
}

footer{
    background-color: var(--Dark-desaturated-cyan-graphic-design-text);
    margin-top: -0.2rem;
}

.footer-logo{
 padding-left: 45rem;
 padding-top: 4rem;

}

.lis{
    display: flex;
    gap: 3rem;
    justify-content: center;
    margin-top: 2rem;
    font-size: 1.2rem;
color: var(--Dark-moderate-cyan-footer);
}

.icons{
    display: flex;
    justify-content: center;
    gap: 2rem;
      margin-top: 6rem;
      padding-bottom: 6rem;
}

.icon-1{
    display: flex;
    justify-content: center;
  padding-top: 6rem;

   
}

.item-6{
    display: flex;
}
.footer-logo{
    padding-left: 8rem;
    padding-top: 4rem;
   
   }

.lis{
    
gap: 1rem;
}

.item-8{
    display: flex;
    flex-direction: column;
}


@media only screen and (max-width: 375px) {


    .item {

        background-image: url(./images/mobile/image-header.jpg);
        background-repeat: no-repeat;
        background-size: cover;


    }
    .item-2{
        font-size: 1.8rem;
      text-align: center;
      padding-top: 8rem;
    }

    .icon-1{
        padding-left: 1.5rem;
        padding-top: 2rem;
        
    }


    .test-list {
        display: flex;
        flex-direction: column;
       
    }

    .item-6{
        display: flex;
        flex-direction: column;

        
       
    }

    .item-4 {
        display: flex;
        flex-direction: column-reverse;



    }

    .box {
        flex-grow: 0;
    }



    .card-6 {
        max-width: 12vw;
        max-height: 5vh;
    }

    li a {
        float: left;
        display: block;
    }

}